{{define "content"}}
    <section id="posts" class="posts-collapse">
        <span class="archive-move-on"></span>
        <span class="archive-page-counter"> 非常好！ 目前共计 {{.pageTotal}} 篇日志， 继续努力。 </span>
        <div class="collection-title">
            <h2 class="archive-year motion-element" id="archive-year-2019">2019</h2>
        </div>
        <article class="post post-type-normal" itemscope itemtype="http://schema.org/Article">
            <header class="post-header">
                <h1 class="post-title">
                    <a class="post-title-link"
                       href="https://aimuz.me/wei-xin-xiao-cheng-xu-fan-bian-yi-wxss-diu-shi-wen-ti.html"
                       itemprop="url">
                        <span itemprop="name">微信小程序反编译 wxss 丢失问题</span>
                    </a>
                </h1>
                <div class="post-meta">
                    <time class="post-time" itemprop="dateCreated" datetime="2019-01-23T03:31:00+00:00"
                          content="1919-01-23"> 01-23
                    </time>
                </div>
            </header>
        </article>
    </section>
{{end}}