{{define "content"}}
    <div id="posts" class="posts-expand">
        <div class="category-all-page">
            <div class="category-all-title">
                <div>
                    目前共计 6 个分类
                </div>
            </div>
            <div class="category-all">
                <ul class="category-list">
                    <li class="category-list-item">
                        <a class="category-list-link" href="https://aimuz.me/category/note/">笔记</a>
                        <span class="category-list-count">12</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{{end}}